header {
    /* Not always on top */
}

body {
        /* Body min-width= 975px
        Header+Body+Footer = 520px */
}

#user_search {
    /* mouseover highlight on search bar */
    width: 85%;
    height: 100%;
    border: none;
}

button {
    /* mouseover effect darkens border and letters */
}

footer {
    /* background-color: grey; 
    Height = 40px
    Always on bottom */
}

.logo{
    width: 210px;
    height: auto;
}

.search_container {
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
    width: 500px;
    height: 30px;
    padding: 2px;
}