html {
    font-family: arial,sans-serif;
    font-size: 10px;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.hfcontain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.hleft {
    width: 110px;
}
.hright {
    width: 250px;
}
.fleft {
    width: 375px;
}
.fright {
    width: 250px;
}

body {
        /* Body min-width= 975px
        Header+Body+Footer = 520px */
    font-family: arial,sans-serif;

    min-width: 975px;
}

#user_search {
    /* mouseover highlight on search bar */
    width: 85%;
    height: 100%;
    border: none;
}

button {
    /* mouseover effect darkens border and letters */
}

footer {
    /* background-color: grey; 
    Height = 40px
    Always on bottom */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    height: 30px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.logo{
    width: 210px;
    height: auto;
}

.search_container {
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
    width: 500px;
    height: 30px;
    padding: 2px;
}